{% extends "layout.njk" %}
{% block content %}
<article class="prose mx-auto">
  <h1>{{ title }}</h1>
  <p><strong>Date:</strong> {{ date }}</p>
  <p><strong>Location:</strong> {{ location }}</p>
  <p>{{ description }}</p>
  <div>
    {{ content | safe }}
  </div>
  <p><a href="/events/">Back to all events</a></p>
</article>
{% endblock %}